<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div id='app'>
        <div >
                <button @click="selectClick(0)">新建</button>
                <button v-show="select" @click="startCilck">开始</button><button v-show="select" @click="deleteCilck">删除</button>
                 <div v-show="select" class="info">
                     <ul>
                         <li v-for='(item,index) in info'>{{item}}</li>
                     </ul>
                 </div>
             </div>
        <ul v-show="!select" class="new">
            <!-- 参数数量：<input type="number" v-model="quantity"> -->
            <li class="parameter" v-for="(item,index) in quantity*1">
                路径片段{{item}}：<input type="text" ref='path'>
                参数范围{{item}}：<input type="text" ref='min'>~<input type="text" ref='max'>
            </li>
            <button @click="addClick">提交</button>
        </ul>

        

    </div>
    <script src='./js/index.js'></script>
</body>

</html>